@font-face {
  font-family: 'Inter';
  src: url('Inter-font/Inter Desktop/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-font/Inter Desktop/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  background-color: #e9e9e9;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: #e9e9e9;
  z-index: 1;
  padding: 15px;
  box-sizing: border-box;
}

#hamburger-menu {
  color: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: block;
  width: 60px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 999;
  background-color: transparent;
}

#hamburger-menu .icon {
  color: #000;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

#hamburger-menu.open .icon {
  background-color: #175089;
  color: #000;
  width: 45px;
  height: 25px;
  padding-top: 14px;
  margin-top: 2px;
}

#mobile-menu {
  list-style-type: none;
  background-color: #6d8fb1;
  padding: 20px;
  position: absolute;
  top: 48px; /* Align the menu to the bottom of the navbar */
  right: 25px; /* Align the menu to the left, right under the hamburger button */
  width: calc(10% - 30px); /* Make the menu full-width, minus the padding on the left and right */
  z-index: 1;
}

#mobile-menu:hover {
  background: #6d8fb1;
  border: 2px solid #007bff;
}

#mobile-menu.hidden {
  display: none;
}

.menu-item {
  display: block;
  color: #000;
  text-decoration: none;
  text-align: left;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #6d8fb1;
}

.menu-item:hover {
  background-color: #5a7b96;
}

.head-title {
  font-size: 24px;
}

.profile-image {
  width: 100%; /* Adjust the width as desired */
  height: auto; /* Maintain the aspect ratio */
}

#profile:hover {
  border: 2px solid #007bff;
}

.more-about-me {
  width: 150px;
  height: 40px;
  top: 600px;
  left: 138px;
  font-size: 16px;
  font-weight: bold;
  color: #1e90ff;
  text-decoration: underline;
  display: inline-block;
  position: absolute;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #175089;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #0f3a5f;
}

.container {
  background-color: #e9e9e9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.container.show {
  display: block;
}

.hire-me-button {
  width: 200px;
  height: 38px;
  bottom: 50%;
  background-color: #175089;
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 12px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 14.2%;
  background-color: #e9e9e9;
  padding: 40px 0;
  width: 100%;
  height: 47.92%;
}

.vertical-line {
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin-left: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #e9e9e9;
  padding: 40px 0;
  width: 100%;
  height: 47.92%;
}

.home #profile {
  width: 100%;
  height: 100vh;
  margin-bottom: 40px;
}

.home h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.about-me-button {
  display: block;
  margin: 1rem auto;
  border-radius: 10px;
  height: 49px;
  width: 22.4%;
}

.about-me-button:hover {
  background-color: #175089;
}

.web-developer-heading span {
  color: #fff;
  background-color: #175089;
}

.about-me-text {
  width: 98%;
  text-align: center;
}

.about-me-hr {
  border-color: #175089;
  width: 100%;
}

.paragraph {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.line {
  border: 1px solid #175089;
  width: 98%;
  margin-top: 60px;
  margin-bottom: 40px;
}

.hire-me-btn {
  display: inline-block;
  background-color: #6d8fb1;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hire-me-btn:hover {
  background-color: #e9e9e9;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #e9e9e9;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #175089;
  width: 30%;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
}

.modal-content-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.certificates-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.certificate {
  width: 300px;
  margin: 20px;
  text-align: center;
}

.certificate img {
  max-width: 100%;
}

.certificates-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
  padding: 2rem 0;
  background-color: #e9e9e9;
}

.certificates-section h2 {
  margin-bottom: 1rem;
}

.resume-button {
  background-color: #6d8fb1;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  border: 1px solid #175089;
  width: 15%;
  height: 8%;
}

.skills-section {
  padding: 50px 0;
  text-align: center;
  height: 100vh;
}

.soft-skills-section,
.technical-skills-section {
  flex-basis: 45%;
  background-color: #e9e9e9;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  margin-left: 20%;
  font-weight: 700;
}

.soft-skills-section li,
.technical-skills-section li {
  margin-top: 10px;
  font-weight: 700;
}

.soft-skills-section ul,
.technical-skills-section ul {
  list-style-type: none;
  padding: 0 0 0 20px;
  font-size: 16px;
}

.soft-skills-section ul li::before,
.technical-skills-section ul li::before {
  content: "•";
  color: #175089;
  font-size: 45px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  vertical-align: middle;
}

.ski {
  color: #000;
  font-weight: 700;
  border: 2px solid #175089;
  border-radius: 10px;
  background-color: #e9e9e9;
  padding: 10px 20px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
  width: 20%;
  height: 8%;
}

#Skills {
  height: 100vh;
  width: 100%;
  margin-top: 0;
}

.skills-containerme {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  padding: 20px;
  background-color: #e9e9e9;
  color: #175089;
  font-family: Arial, sans-serif;
  height: 80%;
  width: 80%;
  margin-left: 9%;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  background-color: #000;
}

.skill-item:hover {
  transform: scale(1.1);
}

.skill-item span {
  font-size: 48px;
  font-weight: bold;
  color: #175089;
}

.skill-item h3 {
  font-size: 24px;
  margin-top: 10px;
  color: #fff;
  background-color: #000;
}

.divider {
  width: 2px;
  background-color: #000;
  margin: 0 20px;
}

.modal-object {
  background-color: #000;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #175089;
  width: 30%;
  position: relative;
  text-align: center;
}

#modal-title {
  color: #175089;
}

.close-button1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.project {
  width: 70%;
  background-color: #e9e9e9;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.pro {
  color: #000;
  font-weight: 700;
  border: 2px solid #175089;
  border-radius: 10px;
  background-color: #e9e9e9;
  padding: 10px 20px;
  font-size: 24px;
  margin-left: 35%;
  margin-top: 40%;
  width: 30%;
  height: 10%;
}

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #e9e9e9;
  gap: 40px;
  margin-top: 10%;
}

.project-container {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e9e9e9;
}

.project-image {
  width: 66.6%;
  height: 30%;
  display: block;
  margin: 10px 0;
  position: absolute;
  top: 271px;
  left: 37px;
  border: 1px solid #175089;
}

.project h3 {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  align-items: center;
  text-align: center;
}

.project p {
  margin-top: 0;
  margin-bottom: 20px;
}

.project a {
  margin: 10px 0;
  color: #175089;
  text-decoration: none;
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.contain {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e9e9e9;
  margin-top: 40%;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background-color: #e9e9e9;
  list-style-type: none;
}

.actions a {
  display: inline-block;
  background-color: #175089;
  color: #000;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  width: 15%;
  text-align: center;
}

.popup {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup-content {
  background-color: #e9e9e9;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
  position: relative;
  color: #000;
}

.popup-close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.popup-close:hover,
.popup-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup-screenshots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.popup-screenshots img {
  max-width: 100%;
  height: auto;
}

.popup-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #000;
  height: 20%;
}

.popup-actions a {
  background-color: #175089;
  color: #000;
  text-decoration: none;
  padding: 12px 10px;
  border-radius: 5px;
  margin: 0 90px;
  transition: background-color 0.3s ease;
  width: 25%;
  height: 30px;
  text-align: center;
  font-weight: 700;
}

.social-links a {
  color: #175089;
  font-size: 44px;
  margin: 0 10px;
  text-decoration: none;
}

.popup-actions a:hover {
  background-color: #113c69;
}

#contact {
  background-color: #e9e9e9;
  padding: 50px;
  text-align: center;
  width: 60%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin-left: 16%;
}

.but {
  color: #000;
  font-weight: 700;
  border: 2px solid #175089;
  border-radius: 10px;
  background-color: #e9e9e9;
  margin-bottom: 15%;
  font-size: 20px;
  width: 40%;
  height: 8%;
  padding: 10px 0; /* Adjust the vertical padding */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
}

#contact-form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 30px;
}

#contact-form > div {
  background-color: #d9d9d9;
  padding: 30px;
  padding-top: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}

#contact-form input,
#contact-form textarea {
  width: 50%;
  padding: 20px;
  border: none;
  border-radius: 60px;
  font-size: 16px;
  background-color: #175089;
  height: 40px;
}

.send-button {
  background-color: #7796b5;
  color: #000;
  width: 100px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-left: 80%;
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
}

.send-button:hover {
  background-color: #5a7b96;
}

#error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.hidden {
  display: none;
}

#contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10%;
}

::placeholder {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

.signature {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #000;
}

.heart {
  font-size: 25px;
  color: red;
}
